/* Bringbold Nineties Demo */
@font-face {
    font-family: 'Bringbold';
    src: url('Bringbold Nineties Demo.ttf') format('truetype'),
         url('Bringbold Nineties Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Bringbold', sans-serif;
    background-color: #0b0b0b;
    color: white;
}

/* ENTER PAGE */

.enter-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle at center, #111 0%, #000 70%);
    transition: opacity 0.8s ease;
}

.fade-out {
    opacity: 0;
}

.enter-container {
    text-align: center;
}

.enter-logo {
    font-size: 56px;
    font-weight: 800;
    letter-spacing: 8px;
    margin-bottom: 40px;
    opacity: 0;
    animation: fadeIn 1.2s ease forwards;
}

.enter-button {
    background: white;
    color: black;
    border: none;
    padding: 14px 50px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
}

.enter-button:hover {
    background: #d1d1d1;
    transform: scale(1.05);
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}

.logo {
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 2px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #b3b3b3;
}

/* HOME HERO */

.home-hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}

.home-hero h1 {
    font-size: 72px;
    font-weight: 800;
}

.home-hero p {
    margin-top: 15px;
    font-size: 18px;
    color: #999;
}
